<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<h3>Autor</h3>
	<img src="<%= author.urlphoto %>" alt="Autor"/>
	<h3><%= author.name %></h3>
  </body>
</html>